.container {
    padding: 50px 30px;

    display: grid;
    grid-template-rows: repeat(4, auto);

    gap: 60px 0px;

    grid-template-areas:
    "header"
    "btns"
    "experience"
    "info";   
    
    // border: 1px solid red;
}

@media (min-width: 1300px) {
    .body {
        justify-self: center;
    
        width: 100%; 
        max-width: 1920px;
        // width: 1366px; 
        // min-width: 1200px;   
    
        // border: 1px solid blue;
        
    }

    .container {
        padding: 0px;
        
        display: grid;        
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        
        height: 100vh;

        gap: 0px 0%;

        grid-template-areas:
        "header btns"
        "experience info";
    }

}