.infos {
  display: flex;
  flex-direction: column;
  grid-area: info;

  width: 100%;
  max-width: 350px;
  height: 100%;

  gap: 40px;

  justify-self: center;

  // border: 1px solid blue;
  
  .personal-info {

    // border: 1px solid yellow;

    .educational-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      // border: 1px solid white;
    }

    .languages-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      gap: 18px;

      // border: 1px solid white;
    }

    span {
      color: var(--text-secondary);
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;

      // border: 1px solid yellow;
    }
  }

  @media (min-width: 1300px) {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 250px; 
    
    justify-self: end; // Alinha horizontalmente no canto esquerdo
    align-self: start; // Alinha verticalmente no canto superior
    
    gap: 0px;

    justify-content: space-between;
    align-items: flex-start;  

    margin-right: 10%;

    .personal-info {

      width: 100%;

      .educational-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        // border: 1px solid white;
      }

      .languages-info {
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: flex-start;
        width: 100%;

        // border: 1px solid white;
      }

      span {
        font-size: 20px;
        line-height: 28px;
        text-align: start;
      }
    }
  }
}
